In [ ]:
%run ETL.ipynb

## SQL Queries

### 1. Número de rutas por pais

In [13]:
query1 = """
    select t2.pais_aeropuerto, count(t1.cod_aeropuerto_ori) as num_rutas from
    (
        select cod_aeropuerto_ori
        from HC_RUTAS

    ) t1 join 
    (
        select cod_aeropuerto, pais_aeropuerto from DM_AEROPUERTOS AS t2
    ) t2 on cod_aeropuerto_ori=cod_aeropuerto
    group by pais_aeropuerto
    order by num_rutas desc, cod_aeropuerto_ori
    """

In [14]:
%sql $query1

 * mysql+pymysql://uvzyojikw6equtfk:***@b4xagkgex6krc881bjyk-mysql.services.clever-cloud.com/b4xagkgex6krc881bjyk
(pymysql.err.OperationalError) (2013, 'Lost connection to MySQL server during query')
[SQL: select t2.pais_aeropuerto, count(t1.cod_aeropuerto_ori) as num_rutas from ( select cod_aeropuerto_ori from HC_RUTAS ) t1 join ( select cod_aeropuerto, pais_aeropuerto from DM_AEROPUERTOS AS t2 ) t2 on cod_aeropuerto_ori=cod_aeropuerto group by pais_aeropuerto order by num_rutas desc, cod_aeropuerto_ori]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

### 2. Número de rutas de cada país, como país de la aerolínea ordenadas de forma que salga el primero el país con más rutas. Mostrar el nombre del país.

In [15]:
query2 = """
    select t2.pais_aerolinea, count(t1.cod_aerolinea) as num_rutas from
    (
        select cod_aerolinea from HC_RUTAS
    ) as t1 join 
    (
        select cod_aerolinea, nombre_aerolinea, pais_aerolinea from DM_AEROLINEAS AS t2
    ) as t2 on t2.COD_AEROLINEA=t1.cod_aerolinea
    group by pais_aerolinea 
    order by num_rutas desc, pais_aerolinea
"""

In [16]:
%sql $query2

 * mysql+pymysql://uvzyojikw6equtfk:***@b4xagkgex6krc881bjyk-mysql.services.clever-cloud.com/b4xagkgex6krc881bjyk
167 rows affected.

[('United States', 12785),
 ('China', 7262),
 ('United Kingdom', 3336),
 ('Germany', 2942),
 ('Ireland', 2760),
 ('France', 2044),
 ('Russia', 1830),
 ('Canada', 1662),
 ('India', 1441),
 ('Japan', 1373),
 ('Italy', 1300),
 ('Netherlands', 1151),
 ('Turkey', 1142),
 ('Australia', 1092),
 ('Spain', 1064),
 ('Brazil', 1052),
 ('United Arab Emirates', 977),
 ('Taiwan', 880),
 ('Mexico', 808),
 ('Norway', 786),
 ('Indonesia', 768),
 (None, 679),
 ('Malaysia', 642),
 ('Sweden', 634),
 ('Republic of Korea', 615),
 ('ALASKA', 530),
 ('Saudi Arabia', 493),
 ('Hungary', 463),
 ('Singapore', 447),
 ('Philippines', 430),
 ('Thailand', 428),
 ('Austria', 425),
 ('Portugal', 417),
 ('Iran', 416),
 ('Greece', 392),
 ('Switzerland', 388),
 ('Chile', 338),
 ('Ethiopia', 337),
 ('Pakistan', 336),
 ('Burundi', 332),
 ('Finland', 328),
 ('Egypt', 297),
 ('AVIANCA', 286),
 ('Morocco', 284),
 ('Hong Kong SAR of China', 282),
 ('Qatar', 278),
 ('South Africa', 262),
 ('Argentina', 256),
 ('Algeria', 234),
 ('New Zealand', 233),
 ('Belgium', 232),
 ('Vietnam', 229),
 ('Kazakhstan', 223),
 ('Tunisia', 211),
 ('Reunion', 210),
 ('Kenya', 199),
 ('Panama', 184),
 ('Papua New Guinea', 179),
 ('Czech Republic', 178),
 ('Ukraine', 175),
 ('Senegal', 168),
 ('Poland', 156),
 ('Ecuador', 154),
 ('Uzbekistan', 151),
 ('Israel', 147),
 ('Denmark', 142),
 ('Jordan', 131),
 ('Bangladesh', 124),
 ('Peru', 120),
 ('Libya', 118),
 ('Latvia', 114),
 ('Croatia', 112),
 ('Venezuela', 112),
 ('Luxembourg', 110),
 ('Kuwait', 109),
 ('Sri Lanka', 107),
 ('Oman', 98),
 ('Romania', 98),
 ('French Polynesia', 97),
 ('DRAGON', 96),
 ('Yemen', 96),
 ('Colombia', 95),
 ('Georgia', 92),
 ('Vanuatu', 92),
 ('Malta', 84),
 ('Nigeria', 84),
 ('Belarus', 82),
 ('Fiji', 78),
 ('Bahrain', 77),
 ('Serbia', 77),
 ('Iceland', 76),
 ('Madagascar', 75),
 ('Mozambique', 74),
 ('Angola', 71),
 ('Netherlands Antilles', 70),
 ('South Korea', 70),
 ('Cambodia', 68),
 ('Lebanon', 65),
 ('Trinidad and Tobago', 64),
 ('Antigua and Barbuda', 62),
 ('Solomon Islands', 60),
 ('Cuba', 59),
 ('Bahamas', 58),
 ('Bulgaria', 56),
 ('Macao', 56),
 ('Azerbaijan', 54),
 ('Mauritius', 51),
 ('Lao Peoples Democratic Republic', 48),
 ('Afghanistan', 41),
 ('American Samoa', 41),
 ('Rwanda', 40),
 ('Slovenia', 40),
 ('Bolivia', 39),
 ('Tanzania', 39),
 ('Costa Rica', 38),
 ('Moldova', 38),
 ('Belize', 35),
 ('Namibia', 35),
 ('Burma', 34),
 ('Sudan', 34),
 ('Tajikistan', 34),
 ('Cyprus', 31),
 ('Nepal', 31),
 ('Brunei', 30),
 ('Maldives', 30),
 ('Mauritania', 30),
 ('Cameroon', 29),
 ('Myanmar', 29),
 ('Estonia', 26),
 ('Montenegro', 26),
 ('Zambia', 26),
 ('Botswana', 24),
 ('Guadeloupe', 24),
 ('Niger', 24),
 ('Zimbabwe', 24),
 ('Cayman Islands', 23),
 ('Burkina Faso', 22),
 ('Comoros', 22),
 ('Lithuania', 21),
 ('Armenia', 20),
 ('Bhutan', 20),
 ('Mongolia', 20),
 ('Suriname', 20),
 ('Paraguay', 18),
 ('Uruguay', 18),
 ('Eritrea', 16),
 ('Turkmenistan', 16),
 ('Cook Islands', 13),
 ('Sierra Leone', 12),
 ('Bosnia and Herzegovina', 10),
 ('Canadian Territories', 10),
 ('Seychelles', 10),
 ('Faroe Islands', 9),
 ("Democratic People's Republic of Korea", 8),
 ('Ghana', 8),
 ('Nauru', 8),
 ('Russian Federation', 8),
 ('Aruba', 6),
 ('British Virgin Islands', 6),
 ('Djibouti', 6),
 ('Uganda', 6),
 ('Albania', 4),
 ('Benin', 4),
 ('Congo (Kinshasa)', 4),
 ('Republic of the Congo', 4),
 ('Gabon', 2),
 ('Kyrgyzstan', 2)]

### 3. Número de rutas de cada equipamiento ordenadas de forma que salga el primero el equipamiento con más rutas. Mostrar el nombre del equipamiento. Mostrar solo los equipamientos con más de 2000 rutas.

In [17]:
query3="""
select t2.desc_equipamiento, t1.num_rutas from 
(
    select cod_equipamiento, count(cod_equipamiento) as num_rutas 
    from CO_RUTAS_EQUIPAMIENTOS
    group by cod_equipamiento
) t1 join
(
    select cod_equipamiento, desc_equipamiento from DM_EQUIPAMIENTOS
) t2 on t2.cod_equipamiento=t1.cod_equipamiento
where num_rutas > 2000
order by num_rutas desc, desc_equipamiento
"""

In [18]:
%sql $query3

 * mysql+pymysql://uvzyojikw6equtfk:***@b4xagkgex6krc881bjyk-mysql.services.clever-cloud.com/b4xagkgex6krc881bjyk
8 rows affected.

[('Airbus A320-100/200                           ', 15184),
 ('Boeing 737-800 pax                            ', 10183),
 ('Airbus A319                                   ', 7535),
 ('Airbus A321-100/200                           ', 3512),
 ('Boeing 737-800 (winglets) pax                 ', 3223),
 ('Boeing 737 all pax models                     ', 2759),
 ('Boeing 737-700 (winglets) pax                 ', 2446),
 ('Canadair Regional Jet                         ', 2180)]

### 4. Número de rutas por equipamiento para las rutas cuyo aeropuerto origen es Barajas (1229) ordenadas de forma que salga el primero el equipamiento con más rutas. Mostrar el nombre del equipamiento.

In [19]:
query4 = """
select t3.desc_equipamiento, count(t2.cod_ruta) as num_rutas from
(
    select cod_ruta, cod_equipamiento
    from CO_RUTAS_EQUIPAMIENTOS
) t1 inner join
(
    select cod_ruta, cod_aeropuerto_ori from HC_RUTAS where cod_aeropuerto_ori = 1229
) t2 on t1.cod_ruta=t2.cod_ruta join
(
    select cod_equipamiento, desc_equipamiento from DM_EQUIPAMIENTOS
) t3 on t1.cod_equipamiento=t3.cod_equipamiento
group by desc_equipamiento
order by num_rutas desc
"""

In [20]:
%sql $query4

 * mysql+pymysql://uvzyojikw6equtfk:***@b4xagkgex6krc881bjyk-mysql.services.clever-cloud.com/b4xagkgex6krc881bjyk
45 rows affected.

[('Boeing 737-800 pax                            ', 62),
 ('Airbus A320-100/200                           ', 61),
 ('Airbus A319                                   ', 55),
 ('Airbus A321-100/200                           ', 29),
 ('Airbus A330-300                               ', 27),
 ('Airbus A318/319/320/321                       ', 20),
 ('Airbus A340-600                               ', 20),
 ('Embraer 190                                   ', 19),
 ('Airbus A330-200                               ', 18),
 ('Canadair Regional Jet 1000                    ', 18),
 ('Canadair Regional Jet 900                     ', 14),
 ('Airbus A330 all models                        ', 13),
 ('Canadair Regional Jet 200                     ', 11),
 ('Airbus A340-500                               ', 10),
 ('Boeing 777 all pax models                     ', 9),
 ('Embraer RJ145 Amazon                          ', 9),
 ('Airbus A340-200                               ', 9),
 ('Airbus A320                                   ', 7),
 ('Boeing 767-300 pax                            ', 6),
 ('Boeing 767-400 pax                            ', 6),
 ('Aerospatiale/Alenia ATR 72                    ', 5),
 ('Aerospatiale/Alenia ATR 42/ ATR 72            ', 5),
 ('Boeing 737 all pax models                     ', 4),
 ('Boeing 747-400 pax                            ', 4),
 ('Boeing 757 all pax models                     ', 4),
 ('Boeing 737-800 (winglets) pax                 ', 4),
 ('Boeing 777-300ER pax                          ', 4),
 ('Airbus A340 all models                        ', 4),
 ('Airbus A340-300                               ', 4),
 ('Boeing 737-700 (winglets) pax                 ', 3),
 ('Boeing 737-700 pax                            ', 3),
 ('Boeing 787-8                                  ', 3),
 ('Boeing 767 all pax models                     ', 2),
 ('Fokker 100                                    ', 2),
 ('Boeing 737-900 pax                            ', 2),
 ('Boeing 757-200 pax                            ', 2),
 ('Boeing 767-200 pax                            ', 2),
 ('Canadair Regional Jet                         ', 2),
 ('Ilyushin IL96 pax                             ', 2),
 ('Airbus A318 ', 1),
 ('Boeing 737-600 pax                            ', 1),
 ('Boeing 737-400 pax                            ', 1),
 ('Embraer 195                                   ', 1),
 ('Avro RJ100 Avroliner                          ', 1),
 ('Boeing 777-200 pax                            ', 1)]

### 5.  Los dos países entre los que hay más rutas.

In [21]:
query5 = """
SELECT t2.pais_aeropuerto AS Origen, t3.pais_aeropuerto AS Destino, COUNT(*) AS num_rutas FROM
(
    SELECT cod_aeropuerto_ori,cod_aeropuerto_des FROM HC_RUTAS
) t1 
JOIN 
(
    SELECT cod_aeropuerto, pais_aeropuerto FROM DM_AEROPUERTOS
) t2 ON t1.cod_aeropuerto_ori=t2.cod_aeropuerto
JOIN
(
   SELECT cod_aeropuerto, pais_aeropuerto FROM DM_AEROPUERTOS
) t3 ON t1.cod_aeropuerto_des=t3.cod_aeropuerto 
WHERE t2.pais_aeropuerto != t3.pais_aeropuerto
GROUP BY Origen,Destino
ORDER BY num_rutas desc
LIMIT 1
"""

In [22]:
%sql $query5

 * mysql+pymysql://uvzyojikw6equtfk:***@b4xagkgex6krc881bjyk-mysql.services.clever-cloud.com/b4xagkgex6krc881bjyk
1 rows affected.

[('United Kingdom', 'Spain', 518)]